# GoogleDriveDesktopのtmpフォルダ
/.tmp.driveupload/
/_tmp.driveupload/
/.tmp.drivedownload/
/_tmp.drivedownload/
# RenameCaptureFileに関するフォルダ
/RenameCaptureFile/*.class
/RenameCaptureFile/Captures
/RenameCaptureFile/*.old.*
# CheckRequirementsに関するフォルダ
/CheckRequirements/*.class